
/*===========================
============================
=======CUSTOM CSS=============
===========================*/





/*size slides*/

.reveal .slide-background{
	background-size: auto 100%
}


